{% extends "base/base.html" %}

{% block title %}
  <title>Approved Requests</title>
{% endblock title %}

{% block content %}
  <h4>Approved Requests</h4>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Request From</th>
        <th>Description</th>
        <th>Date of Request</th>
        <th>Location</th>
        <th>Category</th>
        <th>Equipment Required</th>
        <th>Submission Date</th>
        {% if can_see_actions %}
          <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for request in approved_requests %}
        <tr>
          <td>{{ request.requested_by }}</td>
          <td>{{ request.assignment }}</td>
          <td>{{ request.date }}</td>
          <td>{{ request.location }}</td>
          <td>{{ request.category }}</td>
          <td>
            {% for equipment in request.assignmentequipment_set.all %}
              {{ equipment.equipment.name }} (Quantity: {{ equipment.quantity }})
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>{{ request.submission_date }}</td>
          {% if can_see_actions and request.status == 'Approved' and request.treasurer_approved %}
            <td>
              {% if request.status == 'Returned' %}
                <button type="button" class="btn btn-secondary" disabled>Confirm Return</button>
              {% else %}
                <form action="{% url 'equipment:confirm_return' request.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Confirm Return</button>
                </form>
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
