<!-- delete_confirmation.html -->
{% extends "base/base.html" %}
{% block title %}
<title>Delete Equipment</title>
{% endblock title %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Delete Equipment</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Equipment</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
          <div class="row ml-5">
            <!-- left column -->
            <div class="col-md-9">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Equipment</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

<form method="post">
    <div class="card-body">
        <div class="form-group">
            <p>Are you sure you want to delete "{{ equipment.name }}"?</p>
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'equipment:equipment_list' %}" class="btn btn-secondary ml-2">Cancel</a>
        </div>
    </div>
</div>
<!-- /.card -->


<!-- /.card -->

</div>
<!-- /.row -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content-wrapper -->
{% endblock content %}
