{% extends "base/base.html" %}

{% block title %}
<title>TAMC | Edit Equipment</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Equipment</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Equipment</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-9">
                    <!-- general form elements -->
                    <div class="card card-primary ml-5">
                        <div class="card-header">
                            <h3 class="card-title">Equipment</h3>
                        </div>
                        <!-- form start -->
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name">Equipment Name:</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        value="{{ equipment.name }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="id_serial_number">Serial Number:</label>
                                    <input type="text" class="form-control" id="id_serial_number"
                                        name="serial_number" value="{{ equipment.serial_number }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category:</label>
                                    <input type="text" class="form-control" id="category" name="category"
                                        value="{{ equipment.category }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="type_model">Type/Model:</label>
                                    <input type="text" class="form-control" id="type_model" name="type_model"
                                        value="{{ equipment.type_model }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="status">Status:</label>
                                    <select id="status" name="status" class="form-control" required>
                                        {% for status_key, status_label in equipment.STATUS_CHOICES %}
                                        <option value="{{ status_key }}" {% if equipment.status == status_key %}
                                            selected {% endif %}>
                                            {{ status_label }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="id_equipment_image">Equipment Image:</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="id_equipment_image"
                                                name="equipment_image" onchange="displayFileName(this)">
                                            <label class="custom-file-label" for="id_equipment_image">Choose file</label>
                                        </div>
                                    </div>
                                    <small id="file-name" class="form-text text-muted"></small> <!-- Display the selected file name -->
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- JavaScript to display the name of the uploaded file -->
<script>
function displayFileName(input) {
    var fileNameField = document.getElementById("file-name");
    if (input.files.length > 0) {
        fileNameField.textContent = "Selected File: " + input.files[0].name;
    } else {
        fileNameField.textContent = ""; // Clear if no file is selected
    }
}
</script>
{% endblock content %}
