{% extends "base/base.html" %}
{% load static %}
{% block title %}<title>TAMC | Chat </title>{% endblock title %}

{% block content %}
<body class="hold-transition sidebar-mini layout-footer-fixed">
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Chat With Us</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Chat</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card card-primary card-outline direct-chat direct-chat-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Direct Chat</h3>
                                    <div class="card-tools">
                                        <span title="3 New Messages" class="badge bg-primary">3</span>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                            <i class="fas fa-comments"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="direct-chat-messages">
                                        {% if messages %}
                                            {% for msg in messages %}
                                                {% if msg.user == request.user %}
                                                    <div class="direct-chat-msg right">
                                                        <div class="direct-chat-infos clearfix">
                                                            <span class="direct-chat-name float-right">{{ msg.user.username }}</span>
                                                            <span class="direct-chat-timestamp float-left">{{ msg.timestamp|date:"d M H:i" }}</span>
                                                        </div>
                                                        <img class="direct-chat-img" src="{% static 'dist/img/user1-128x128.jpg' %}" alt="User Image">
                                                        <div class="direct-chat-text">{{ msg.message }}</div>
                                                    </div>
                                                {% else %}
                                                    <div class="direct-chat-msg">
                                                        <div class="direct-chat-infos clearfix">
                                                            <span class="direct-chat-name float-left">{{ msg.user.username }}</span>
                                                            <span class="direct-chat-timestamp float-right">{{ msg.timestamp|date:"d M H:i" }}</span>
                                                        </div>
                                                        <img class="direct-chat-img" src="{% static 'dist/img/user3-128x128.jpg' %}" alt="User Image">
                                                        <div class="direct-chat-text">{{ msg.message }}</div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <p class="text-center">Write Your Opinion Here</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <form action="{% url 'staff_user:chat' %}" method="post">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text" name="message" placeholder="Type Message ..." class="form-control" required>
                                            <span class="input-group-append">
                                                <button type="submit" class="btn btn-primary">Send</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function fetchMessages() {
            $.ajax({
                url: "{% url 'staff_user:fetch_messages' %}",
                success: function(data) {
                    var messages = data.messages;
                    var messageHtml = '';
                    messages.forEach(function(msg) {
                        if (msg.user_id == {{ request.user.id }}) {
                            messageHtml += `
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-name float-right">{{ request.user.username }}</span>
                                        <span class="direct-chat-timestamp float-left">${msg.timestamp}</span>
                                    </div>
                                    <img class="direct-chat-img" src="{% static 'dist/img/user3-128x128.jpg' %}" alt="User Image">
                                    <div class="direct-chat-text">${msg.message}</div>
                                </div>`;
                        } else {
                            messageHtml += `
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-name float-left">${msg.user__username}</span>
                                        <span class="direct-chat-timestamp float-right">${msg.timestamp}</span>
                                    </div>
                                    <img class="direct-chat-img" src="{% static 'dist/img/user1-128x128.jpg' %}" alt="User Image">
                                    <div class="direct-chat-text">${msg.message}</div>
                                </div>`;
                        }
                    });
                    $('.direct-chat-messages').html(messageHtml);
                }
            });
        }
    
        $(document).ready(function() {
            setInterval(fetchMessages, 5000);
        });
    </script>
</body>
{% endblock %}
